*{
  margin: 0;
  padding: 0;

}
#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('preloader.svg') no-repeat center;
  z-index: 999;
}
:root{
  --primary-color:#f0f5ff;
  --secondary-color:#1e2241;
  --tertiary-color:#fe014f;
  --fourth-color:#4b0f54;
  --fifth-color:#895999;

}
.dark-theme{
  --primary-color:#21242a;
  --secondary-color:#fff8e0;
  --tertiary-color:brown;
  --fourth-color:#ff0000;
  --fifth-color:#dfaf37;
}
.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: var(--primary-color)!important;
  width: 100vw !important;
}
#navbr{
  position: fixed;
  top: 0px; 
  width: 98%; 
  transition: top 0.3s;
  z-index: 99;
}

/* to right, #232526 0%, #414345  51%, #232526  100% */
.btn-grad {
  background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  /* display: block; */
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.navbar-brand {
  color: var(--secondary-color);
}
.navbar-toggler {
  background-color: #ffffff3d;
  border: var(--bs-border-width) solid rgb(255 141 0 / 78%);
}
.navbar-nav .nav-link.active {
  color: #f8f9fa;
}
.nav-link {
  color: var(--secondary-color);
}
.nav-link:hover{
  color: var(--tertiary-color)!important;
}
body {
  background-color: #282b30;
}

section{
  min-height: max-content;
  width: 100%;
}
.Top_container.row{
  background: url('webbackground3.jpg')no-repeat;
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
      
}


.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 1px 1px 2px var(--primary-color);
  width: 13px;
  height: 13px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(0deg);
  -moz-transform: translate(-50%, 0%) rotate(0deg);
  transform: translate(-50%, 0%) rotate(0deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(0deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(0deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(0deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(0deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(0deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(0deg); opacity: 0; }
}



.slideshow-container {
  position: relative;
  max-width: 600px;
  margin: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.slide {
  display: none;
}

.homeimg {
  border-radius: 50%;
  max-width: 110%;
  height: 95%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
}

.prev {
  left: 20px;
  
}

.next {
  right: 20px;

}

.fade {
  animation-name: fade;
  animation-duration: 10s;
}

@keyframes fade {
  from {opacity: 0.99;}
  to {opacity: 1;}
}

/* .abt{
  min-height: 100vh;
  width: 100%;
  background: url('webbgabout.jpg')no-repeat;
  background-position: right;
  background-size: cover;
} */
.Top_container{
  display: flex;
  height: 95vh;
}
/* var(--tertiary-color) var(--secondary-color) */
.gradient-text{
  text-shadow: 2px 2px 8px var(--fourth-color);
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, var(--tertiary-color) , var(--fifth-color));
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.typelg{
  color: var(--secondary-color);
}
.heading{
  /* text-align: center; */
  padding-top: 2.5rem;
  margin-left: 2rem;
  margin-bottom: 0px;
  font-family: 'Roboto','Courier New', Courier, monospace; 
}

.dlcv{
  font-family: 'Roboto','Courier New', Courier, monospace; 
  text-decoration: none;
  color: var(--secondary-color);
}
.cvbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 50vw;
  height: 80vh;
  flex-direction: column;
  color: white;
  font-family: 'Roboto','Courier New', Courier, monospace; 
}
.bgwhite{
  background-image: url(whitebg.jpg);
}
.infoAbout{
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 67vw;
  height: 165vh; */
  /* flex-direction: column; */
  color:var(--secondary-color);
  font-family: 'Roboto','monospace';
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  /* color: antiquewhite; */
  color: var(--secondary-color);
}
.tech-icons.col-md-2.col-4 {
  color: var(--secondary-color);
}
.infoSkills{
  font-family: 'Roboto','Courier New', Courier, monospace; 
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: transparent;
  /* width: 50vw;
  height: 80vh; */
  /* flex-direction: column; */
  /* color: white; */
  color: var(--secondary-color); 
}
.info .wrapper {
  /* display: inline-flex; */
  /* width: 100%; */
  /* height: 80%; */
  text-align: center;
}
.info .wrapper .static-txt{
  /* color: #fff; */
  color: var(--secondary-color);
  font-size: 260%;
  font-weight: 200;
  overflow-wrap: break-word;
  margin-top: 8rem;
}
.dynamic{
  display: flex;
  justify-content: center;
}



.col-sm.intname{
  font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center; display: flex; justify-content: center; text-align: center;align-items: center;
}

.infoImage{
  
  background-color: transparent;
  width: 40vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-fluid {
  /* position: absolute; */
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}
.infoImageAbout{
  position: absolute;
  background-color: transparent;
  width: 38vw;
  height: 38vh;
  right: 5px;
  bottom: -100px;
}
.infoimgabout{
  height: 100%;
  width: 100%;
}
.Middle_container{
  /* background-image: url(whitebg.jpg); */
  display: flex;
  /* color: white; */
  color:var(--secondary-color);
}
.About_me{
  margin-left: 5vw;
  background-color: transparent;
  text-align: center;
  width:100%;
  margin-top: 30px;
  font-family: 'Roboto','Courier New', Courier, monospace; 
}
h1.project-heading {
  margin: 0 0 0 0;
  padding: 0 30px;
  font-family: 'Roboto','Courier New', Courier, monospace;
}

.Intro{
  width: 90%;
  margin-left: 10px;
}
.Avatar{
  background-color: transparent;
  width: 30vw;
  border-radius: 100%;
}

#textt {
  display: inline-block;
  white-space: inherit;
  overflow: hidden;
  border-right: 1px solid #333;
  font-size: 15px;
  animation: typingt 3s steps(40, end), blink-caret 0.75s step-end infinite ;
}

@keyframes typingt {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

.Bottom_container{
  text-align: center;
  /* color: white; */
  color: blue;
  font-family: 'Roboto','Courier New', Courier, monospace; 
  padding-bottom: 20px;
}
.Footer_container .d-flex.flex-wrap.justify-content-center.align-items-center.py-3.border-top{
  background-color: var(--primary-color)!important;
  color: var(--secondary-color) !important;
}
.text-muted{
  color: var(--secondary-color) !important;

}
*, ::after, ::before {
  box-sizing: border-box;
}
.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
ul.nav.col-md.d-flex {
  justify-content: center;
  padding-bottom: 20px;
}