<%- include('partials/header'); -%>

<section id="home" class="homec">
  <div class="Top_container row">
    <div class="info col-sm">
      <div class="wrapper">
        <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" data-aos-duration="3000"class="static-txt">I'm<span style="color: #FFA500;"><b>Harsh Kumar</b></span>,a</div>
        <ul class="dynamic-txts">
          <li><span>DEVELOPER</span></li>
          <li><span>PROGRAMMER</span></li>
          <li><span>DESIGNER</span></li>
          <li><span>FREELANCER</span></li>
        </ul>
      </div>
    </div>
    <div class="slideshow-container col-sm">
      <div class="slide fade">
        <img class="homeimg"src="../public/images/homepic3.png" alt="Image 3">
      </div>
      <div class="slide fade">
        <img class="homeimg"src="../public/images/homepic2.jpg" alt="Image 2">
      </div>
      <div class="slide fade">
        <img class="homeimg"src="../public/images/infopic1.png" alt="Image 3">
      </div>
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  </div>
  <div class="Middle_container">
    <div class="About_me">
      <h1>Let me introduce myself.</h1>
      <p class="Intro">I fell in love with programming and I have at least learnt something, I think… 🤷‍♂️

I am fluent in classics like C++, Javascript and Python.

My field of Interest's are building new  Web Technologies and Products and also in areas related to Deep Learning and Natural Launguage Processing.

Whenever possible, I also apply my passion for developing products with Node.js and Modern Javascript Library and Frameworks  like React.js and Next.js</p>
    </div>
    <!-- <div data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" class="Avatar">
      <img style="max-height:100%; max-width:100%;" src="public/images/homeavatar.png" alt="HK">
    </div> -->

  </div>
</section>
<section id="about" class="bgwhite">
  <div  class="section abt ">
    <h1 class="heading" style="color: red; font-family: 'Courier New', Courier, monospace; ">About</h1>
    <div class="Top_container container">
      <div class="row">
        <div class="col-sm bgwhite">
          <div class="container infoAbout my-5 " style="z-index: 1;">
              <div class="typewritter">
  
              
            <p id="textt">Hi Everyone, I am Harsh kumar from Kaimur, Bihar, India.
            I am pursuing BTech in VIT Chennai.Apart from coding, some other activities that I love to do!
            <ul id="textt"><li>Playing Games</li>
                <li>Watching movies</li> 
                <li>Travelling</li>
            </ul>
            <p id="textt">You can also call me a designer, developer,UI, UX or by any other market defined function-title. I'm also a multi-disciplinary maker with over 1 years of experiences in wide range of design disciplines, manager, advisor, front-end developer, music enthusiast, traveler, and more.</p>
            <p id="textt">I don't like to define myself by the work I've done. I define myself by the work I want to do. Skills can be taught, personality is inherent. I prefer to keep learning, continue challenging myself, and do interesting things that matter.</p>
            <p id="textt">Fueled by high energy levels and boundless enthusiasm. I'm passionate, expressive, multi-talented spirit with a natural ability to entertain and inspire. I'm never satisfied to just come up with ideas. Instead I have an almost impulsive need to act on them.</p>  
          
          </div>
          </div>
        </div>
        <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" data-aos-duration="1000" class="col-sm">
          <img class="infoimgabout" style="max-height:100%; max-width:100%;" src="../public/images/homepic1.png" alt="aboutImage">
        </div>
      </div>
  
    </div>
  </div> 
    
     
  </section>
  <section id="skills" class="bgwhite">
    <div class="heading"><h1><b>Skills</b> </h1></div>
      <h1 class="project-heading bgwhite"><b>Professional Skillset</b>  </h1>
        <div class="row bgwhite" style="justify-content: center; padding-bottom: 50px;">
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"  class="tech-icons col-md-2 col-4 mx-5 my-3 "  style="height: 4em; width: 4em;"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3"style="height: 4em; width: 4em;" ><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg"/></div>
          <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="tech-icons col-md-2 col-4 mx-5 my-3" style="height: 4em; width: 4em;"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original.svg"/></div>
  
  
  
        </div>  
    <div class="Top_container bgwhite">
      <div class="row">
        <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="col-sm mx-2 my-3"><div class="infoSkills">
          <h1 class="title is-size-4 is-spaced"><b> Frontend Developer</b></h1>
          <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
          <p class="list-title has-text-primary has-text-weight-normal">Languages I speak:</p>
          <p>HTML,CSS,React,Node JS, Express, Git</p>
          <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
          <ul>
            <li>Atom</li>
            <li>VsCode</li>
            <li>Bootstrap</li>
            <li>W3school</li>
            <li>Codekit</li>
            <li>Github</li>
            <li>Codebox</li>
            <li>Terminal</li>
            <li>Vercel</li>
          </ul>
        </div></div>
        <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"class="col-sm mx-2 my-3"><div class="infoSkills">
          <h1 class="title is-size-4 is-spaced"><b>Programmer</b></h1>
            <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
            <p class="list-title has-text-primary has-text-weight-normal">Languages I speak:</p>
            <p>Python, Java Basics, C, C++, Git</p>
            <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
          <ul>
            <li>Atom</li>
            <li>VsCode</li>
            <li>Codekit</li>
            <li>Github</li>
            <li>Terminal</li>
            <li>GeekForGeeks</li>
            <li>codechef</li>
            <li>hackerrank</li>
            <li>leetcode</li>
          </ul>
        </div>
      </div>
    </div>
      </div>
      
      
  </section>
  <section id="pages" class="bgwhite">
    <div class="Pagestext"><h1 >My recent projects.</h1><p>Here are a few past design projects I've worked on.</p>
    <p><span><a href="https://github.com/Harshkrsingh05">Visit more</a></span></p></div>
    
    
    <div class="row">
      <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" class="pagesImage col-sm my-2">
        <img src="public/images/pageImg/vitrate.png" alt="web" class="image_img">
        <div class="image_overlay">
          <div class="imageTitle">Vitrate</div>
          <p class="image_desc"> <span><a class="td"href="vitrate.onrender.com" target="_blank">Here we have vitrate website.</a></span> </p>
        </div>
      </div>
      <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" data-aos-duration="2000" class="pagesImage col-sm my-2">
        <img src="public/images/pageImg/textplays.png" alt="web" class="image_img">
        <div class="image_overlay">
          <div class="imageTitle">TextPlays</div>
          <p class="image_desc"> <span><a class="td"href="https://github.com/Harshkrsingh05/Textplays" target="_blank">Here we have textplays website.</a></span> </p>
        </div>
      </div>
      <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" data-aos-duration="2000" class="pagesImage col-sm my-2">
        <img src="public/images/pageImg/keepNotes.jpeg" alt="web" class="image_img">
        <div class="image_overlay">
          <div class="imageTitle">Daily keep note</div>
          <p class="image_desc"> <span><a class="td"href="https://hktodolist.onrender.com/" target="_blank">Here we have note keeping website.</a></span> </p>
        </div>
      </div>
    </div>
      <div class="row">
      <div  data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"  class="pagesImage col-sm my-2">
        <img src="public/images/pageImg/fitharshcalc.png" alt="web" class="image_img">
        <div class="image_overlay">
          <div class="imageTitle">Fitharsh</div>
          <p class="image_desc"><span><a class="td"href="https://harshkrsingh05.github.io/FitHarsh-Calculator/" target="_blank">Here we have fitharsh website.</a></span> </p>
        </div>
      </div>
      <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" data-aos-duration="2000" class="pagesImage col-sm my-2">
        <img src="public/images/pageImg/journal.jpeg" alt="web" class="image_img">
        <div class="image_overlay">
          <div class="imageTitle">Daily journal</div>
          <p class="image_desc"> <span><a class="td" href="https://hkdailyjournal.onrender.com" target="_blank">Here we have daily journal website.</a></span> </p>
        </div>
      </div>
      <div  data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" data-aos-duration="2000" class="pagesImage  col-sm my-2">
        <img src="public/images/pageImg/drumkit.png" alt="web" class="image_img">
        <div class="image_overlay">
          <div class="imageTitle">Drumkit</div>
          <p class="image_desc"> <span><a class="td"href="https://harshkrsingh05.github.io/Drumset/" target="_blank" >Here we have Drumkit website.</a></span> </p>
        </div>
      </div> 
      </div>
    <div class="row">
      <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000"  class="pagesImage col-sm my-2">
        <img src="public/images/pageImg/ourmenu.jpeg" alt="web" class="image_img">
        <div class="image_overlay">
          <div class="imageTitle">Our menu</div>
          <p class="image_desc"> <span><a class="td"href="https://harshkrsingh05.github.io/hkmenu/" target="_blank">Here we have Our menu website.</a></span> </p>
        </div>
      </div>
    
      <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000" class="pagesImage col-sm my-2">
        <img src="public/images/pageImg/tapgame.png" alt="web" class="image_img">
        <div class="image_overlay">
          <div class="imageTitle">Tap Game</div>
          <p class="image_desc"> <span><a class="td"href="https://harshkrsingh05.github.io/Simongame/" target="_blank">Here we have Tap Game website.</a></span> </p>
        </div>
      </div>
      <div  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000"   class="pagesImage col-sm my-2">
        <img src="public/images/pageImg/lovecalculator.png" alt="web" class="image_img">
        <div class="image_overlay">
          <div class="imageTitle">Love Calculator</div>
          <p class="image_desc"> <span><a class="td"href="https://harshkrsingh05.github.io/Love-calculator/" target="_blank">Here we have love calculator website.</a></span> </p>
        </div>
      </div>
    </div>
  <div id="cv" class="cvbutton">  <button type="button"class ="download"  target="_blank"><a class="dlcv" href="https://harshkrsingh05.github.io/CV/"> Visit CV</a></button>
  </div>
  <div id="contact"class="Bottom_container">
    <h1><b>Find me on</b> </h1>
    <h6 style="color: black;"><b>Feel free to contact me.</b> </h6>
    <button type="button"><a class="btn btn-light" href="https://harshkrsingh05.github.io/about-me-website/"><b>Visit Contact Me Page</b></a></button>
    <button type="button"><a class="btn btn-light" href="mailto:harshkumarsingh005@gmail.com"><b>CONTACT ME</b></a></button>
  </div>
  </section>
  <%- include('partials/footer'); -%>
