*{
  margin: 0;
  padding: 0;

}
.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: #282b30!important;
}
#navbr{
  position: fixed;
  top: 0px; 
  width: 100%; 
  transition: top 0.3s;
  z-index: 99;
  background-color: #000000;
}

.navbar-brand {
  color: #ffdab4;
}
.navbar-toggler {
  background-color: #ffffff3d;
  border: var(--bs-border-width) solid rgb(255 141 0 / 78%);
}
.navbar-nav .nav-link.active {
  color: #f8f9fa;
}
.nav-link {
  color: rgb(255 233 196);
}
body {
  background-color: #282b30;
}
.text-muted {
  --bs-text-opacity: 1;
  color: rgb(255 200 53 / 88%)!important;
}
section{
  min-height: 100vh;
  width: 100%;

  background: url('webbackground.jpg')no-repeat;
  background-position: center;
  background-size: cover;
}

.slideshow-container {
  position: relative;
  max-width: 600px;
  margin: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.slide {
  display: none;
}

.homeimg {
  border-radius: 50%;
  max-width: 110%;
  height: 95%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
}

.prev {
  left: 10px;
  
}

.next {
  right: 10px;

}

.fade {
  animation-name: fade;
  animation-duration: 10s;
}

@keyframes fade {
  from {opacity: 0.99;}
  to {opacity: 1;}
}

/* .abt{
  min-height: 100vh;
  width: 100%;
  background: url('webbgabout.jpg')no-repeat;
  background-position: right;
  background-size: cover;
} */
.Top_container{
  display: flex;
}
.heading{
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace; 
}
.download{
  background-color: dodgerblue;
  border: none;

  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}
.dlcv{
  text-decoration: none;
  color: white;
}
.cvbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.download:hover{
  background-color: RoyalBlue;
}
.info{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 50vw;
  height: 80vh;
  flex-direction: column;
  color: white;
  /* font-family: 'Courier New', Courier, monospace;  */
}
.bgwhite{
  background-image: url(whitebg.jpg);
}
.infoAbout{
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 67vw;
  height: 165vh; */
  /* flex-direction: column; */
  color:#000;
  font-family: monospace;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  /* color: antiquewhite; */
  color: red;
}
.tech-icons.col-md-2.col-4 {
  color: black;
}
.infoSkills{
  font-family: 'Courier New', Courier, monospace; 
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: transparent;
  /* width: 50vw;
  height: 80vh; */
  /* flex-direction: column; */
  /* color: white; */
  color: black; 
}
.info .wrapper {
  /* display: inline-flex; */
  width: 60vw;
  height: 80vw;
  text-align: center;
}
.info .wrapper .static-txt{
  /* color: #fff; */
  color: #000;
  font-size: 300%;
  font-weight: 200;
  overflow-wrap: break-word;
  margin-top: 8rem;
}
.info .wrapper .dynamic-txts {
  margin-left: -2.06rem;
  height: 5.7rem;
  line-height: 5.6rem;
  overflow: hidden;
}
ul.dynamic-txts {
  display: inline-block;
}
.dynamic-txts li{
  color:  #FC6D6D;
  list-style: none;
  font-size: 2.75rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;;
}
@keyframes slide {
  100%{
    top: -22.5rem;
  }
}
.dynamic-txts li span{
  position:relative;
}
.dynamic-txts li span::after{
  content:"";
  position: absolute;
  left: 0;
  height: 116%;
  width: 100%;
  /* background: rgb(62 62 62); */
  background:rgb(251 251 251);

  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}


.infoImage{
  
  background-color: transparent;
  width: 40vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-fluid {
  /* position: absolute; */
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}
.infoImageAbout{
  position: absolute;
  background-color: transparent;
  width: 38vw;
  height: 38vh;
  right: 5px;
  bottom: -100px;
}
.infoimgabout{
  height: 100%;
  width: 100%;
}
.Middle_container{
  background-image: url(whitebg.jpg);
  display: flex;
  /* color: white; */
  color:#000000;
}
.About_me{
  margin-left: 5vw;
  background-color: transparent;
  text-align: center;
  width:100%;
  font-family: 'Courier New', Courier, monospace; 
}
h1.project-heading {
  margin: 0 0 0 0;
  padding: 0 30px;
  font-family: 'Courier New', Courier, monospace;
}

.Intro{
  width: 90%;
  margin-left: 10px;
}
.Avatar{
  background-color: transparent;
  width: 30vw;
  border-radius: 100%;
}
.typewriter {
  overflow: hidden;
  padding: 10px;
  width: 400px;
  margin: auto;
  
}

#textt {
  display: inline-block;
  white-space: inherit;
  overflow: hidden;
  border-right: 1px solid #333;
  font-size: 15px;
  animation: typingt 3s steps(40, end), blink-caret 0.75s step-end infinite ;
}

@keyframes typingt {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

.Bottom_container{
  text-align: center;
  /* color: white; */
  color: blue;
  font-family: 'Courier New', Courier, monospace; 
  padding-bottom: 20px;
}
.Footer_container{
  /* background-color: Black; */
  color: white;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.row {
  --bs-gutter-x: -2.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
